<h1><%= params[:status].present? ? params[:status].titleize : "All" %> Tasks</h1>


<%= react_component 'Tasks'%>

<%# <%= render 'menu' %>

<%# <%= render 'search' %>

<%# <%= render 'table', tasks: @tasks %>

<%# <%= will_paginate @tasks %>

<hr>

<% unless params["status"] == "completed" %>
  <%= render 'form', task: @task %>
<%end%>
