<h1><%= params[:status]&.titleize || "All" %> Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% if task.completed? %>
            <s><%= task.description %></s>
          <% else %>
            <%= task.description %>
          <% end %>
        </td>
        <td><%= render 'buttons', task: task %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= render 'form', task: @task %>
