<h1><%= params[:status]&.titleize || "All" %> Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% if task.completed? %>
            <s><%= task.description %></s>
          <% else %>
            <%= task.description %>
          <% end %>
        </td>
        <td>
            <%= link_to "Details",
                task_sub_tasks_path(task),
                class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<% unless params["status"] == "completed" %>
  <%= render 'form', task: @task %>
<%end%>
