<h1><%= params[:status]&.titleize || "All" %> Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th style="width: 70%;">Description</th>
      <th style="width: 15%;">Due</th>
      <th style="width: 15%;"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr id="<%= dom_id task%>">
        <td style="word-break:break-word;">
          <% if task.completed? %>
            <s><%= task.description %></s>
          <% else %>
            <%= task.description %>
          <% end %>
        </td>
        <td>
          <span class="<%= task.due_date_class %>">
            <%= task.due_date&.strftime('%-m/%-d/%Y') %>
          </span>
        </td>
        <td>
            <%= link_to "Details",
                task_sub_tasks_path(task),
                class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<% unless params["status"] == "completed" %>
  <%= render 'form', task: @task %>
<%end%>
